@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600');
@import 'normalize.css.styl'

$TEXT_COLOR = #666666
$NAV1_CURRENT_COLOR = #333333
$NAV1_CURRENT_BACKGROUND = #e8e8e8
$NAV1_CURRENT_BORDER = #6685a3

$DEBUG_COLOR = yellow

debug(amount)
  background-color: lighten(yellow, amount * 20%)

open-sans()
  font-family: 'Open Sans', sans-serif
  font-style: normal
  font-weight: 400

open-sans-semibold()
  font-family: 'Open Sans', sans-serif
  font-style: normal
  font-weight: 600

display-flex()
  display: -webkit-flex
  display: -ms-flex
  display: flex

flex(args)
  -webkit-flex: args
  -ms-flex: args
  flex: args

flex-flow(args)
  -webkit-flex-flow: args
  -ms-flex-flow: args
  flex-flow: args

align-self(args)
  -webkit-align-self: args
  -ms-align-self: args
  align-self: args


highlight(level)
  color: $NAV1_CURRENT_COLOR
  background-color: $NAV1_CURRENT_BACKGROUND
  border-left: 0.5em solid $NAV1_CURRENT_BORDER
  margin-left: -1em - level * 1em
  padding-left: 0.5em + level * 1em

html
body
  padding: 0
  margin: 0
  open-sans()
  display-flex()
  
/* Linke Spalte */

aside
  debug(0)
  flex(none)
  display-flex()
  flex-flow(column nowrap)
  align-self(flex-start)
  min-height: 100%
  width: 19.5em /* Depend on Logo */
  padding: 0.5em 1em

  /* Headline */
  
  header
    flex(none)
    debug(2)
    open-sans-semibold()
    font-size: (46/12) em
    text-transform: uppercase
    text-align: center
    
    /* Subline */

    div
      debug(3)
      font-size: (12/46) em
      text-transform: uppercase
      
  /* Hauptnavigation */
  
  nav
    debug(3)
    flex(auto)

    ul
      padding: 0
      margin: 0
      
      li
        display: block
        list-style: none
        padding: 0
        margin: 0

        > div a
          text-decoration: none
          color: $TEXT_COLOR
          z-index: 1
        
        &.hasChildren > div a:after
          content: '˅'
          
        &.current > div
          highlight(0)

        li
          padding-left: 1em

          &.current > div
            highlight(1)

      
  /* Footer */
  
  footer
    flex(none)
    debug(4)

/* Content */
article
  flex(auto)
  debug(2)