@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600');
@import 'normalize.css.styl'

html
body
  padding: 0
  margin: 0
  font-family: 'Open Sans', sans-serif;
  
/* Linke Spalte */

.navigation
  position: relative
  float: left
  height: 100%
  width: 21em
  padding: 0.5em 1em
  
  /* Headline */
  
  h1
    font-size: (46/12) em
    text-transform: uppercase
    text-align: center
    
    /* Subline */

    div
      font-size: (12/46) em
      text-transform: uppercase
      
  /* Hauptnavigation */
  
  nav
    ul
      padding: 0
      margin: 0
      
      li
        display: block
        list-style: none
        padding: 0
        margin: 0
        
        > a
          text-decoration: none
          color: gray
        
        &.hasChildren > a:after
          content: '˅'
          
        &.current
          background-color: lightgray
          border-left: 0.5em solid blue
          
        li
          padding-left: 1em
      
  /* Footer */
  
  address
    position: absolute
    bottom: 0