@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600');
@import 'normalize.css.styl'

$TEXT_COLOR = #666666
$TEXT_COLOR_SECUNDARY = #999999
$NAV1_CURRENT_COLOR = #333333
$NAV1_CURRENT_BACKGROUND = #e8e8e8
$NAV1_CURRENT_BORDER = #6685a3
$TEXT_COLOR_NEGATIVE = #ffffff
$NAV2_BACKGROUND = $NAV1_CURRENT_BACKGROUND

debug(amount)

open-sans()
  font-family: 'Open Sans', sans-serif
  font-style: normal
  font-weight: 400

open-sans-semibold()
  font-family: 'Open Sans', sans-serif
  font-style: normal
  font-weight: 600

display-flex()
  display: -webkit-flex
  display: -ms-flex
  display: flex

flex(args)
  -webkit-flex: args
  -ms-flex: args
  flex: args

flex-flow(args)
  -webkit-flex-flow: args
  -ms-flex-flow: args
  flex-flow: args

align-self(args)
  -webkit-align-self: args
  -ms-align-self: args
  align-self: args

box-shadow(args)
  -webkit-box-shadow: args
  -ms-box-shadow: args
  box-shadow: args

html
body
  padding: 0
  margin: 0
  open-sans()
  display-flex()

/* Navigation generell */
nav
  ul
    padding: 0
    margin: 0

    li
      display: block
      list-style: none
      padding: 0
      margin: 0

/* Linke Spalte */

aside
  debug(0)
  flex(none)
  display-flex()
  flex-flow(column nowrap)
  align-self(flex-start)
  min-height: 100%
  width: 16em /* Depend on Logo */
  padding: 5em 1.5em 3em 1.5em
  box-shadow(0 0 2px 2px rgba(119,119,119,0.5))
  margin-right: 3px
  /* border-right: 1px solid rgba(179,179,179,0.75)/

  /* Headline */
  
  header
    flex(none)
    debug(2)
    open-sans-semibold()
    margin-bottom: 1em
    text-align: center
    font-size: 2.75em
    line-height: 0.7em
    letter-spacing: 0.08em
    text-transform: uppercase

    a
      color: $NAV1_CURRENT_BORDER
      text-decoration: none

      /* Subline */

      div
        debug(3)
        open-sans-semibold()
        font-size: 0.3em
        font-weight: 200
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $TEXT_COLOR
      span
        background-color: $NAV1_CURRENT_BORDER
        padding-left: 0.15 em
        padding-right: 0.15em
        margin-left: 0.15em
        margin-right: 0.15em
        color: $TEXT_COLOR_NEGATIVE

      
  /* Hauptnavigation */
  
  nav
    debug(3)
    flex(auto)

    ul
      li
        > div a
          open-sans()
          text-decoration: none
          font-size: 1em
          line-height: 2.5em
          color: $TEXT_COLOR
          z-index: 1
        
        &.hasChildren > div a:after
          content: ' ›'
          
        &.current > div
          color: $NAV1_CURRENT_COLOR
          background-color: $NAV1_CURRENT_BACKGROUND
          border-left: 0.5em solid $NAV1_CURRENT_BORDER
          margin-left: -1.5em
          margin-right: -1.5em
          padding-left: 1em

  /* Footer */
  
  footer
    flex(none)
    debug(4)
    font-size: 0.8em
    color: $TEXT_COLOR

/* Zweite Navigation */
nav.second
  flex(none)
  background-color: $NAV2_BACKGROUND
  max-width: 7em
  padding: 11.5em 1.5em 3em 1.5em

  ul
  li
    > div a
      open-sans()
      text-decoration: none
      font-size: 0.8em
      line-height: 1.25em
      color: $TEXT_COLOR

    &.current > div
      border-left: 0.5em solid $NAV1_CURRENT_BORDER
      margin-right: -1.5em
      margin-left: -1.5em
      padding: 0.25em 0em 0.25em 1em
      color: $NAV1_CURRENT_COLOR

/* Content */
article
  flex(auto)
  debug(2)
  padding: 5em 1.5em 3em 1.5em
  color: $TEXT_COLOR

/* Home Image */
body.home
  aside
    margin-right 0
  article
    padding 0

    img
      width 100%
      opacity 0.7

h1
  font-size: 2em
  color: $TEXT_COLOR_SECUNDARY
  font-weight: 200

a
  text-decoration: none
  color: $NAV1_CURRENT_BORDER