ul
    each page in getCollection("pages").findAll({relativeOutDirPath: 'projects'}).toJSON()
        li(class=[page.id == document.id ? 'active' : 'inactive'])
            a(href=page.url)= page.title ? page.title : page.name
            span= page.category
