mixin menu(menuItems)
    ul.nav
        each item in menuItems
            li(class=[item.state == 'current' ? 'current' : null, item.children ? 'hasChildren' : null])
                div
                    a(href=item.url)= item.title
                if item.children && item.state != false
                    +menu(item.children)

html
  head
    meta(charset="utf-8")
    title= getPreparedTitle()
    != getBlock('meta').toHTML()
    != getBlock('styles').add(['/styles/style.css']).toHTML()
  body
    aside
        header Pechtold
          div Gesellschaft von Architekten mbH
        nav
            +menu(generateMenu(document.url, 'pages'))
        footer
          != partial('address')

    article
      !=content
      
  != getBlock('scripts').toHTML()