html
  head
    title= getPreparedTitle()
    != getBlock('meta').toHTML()
    != getBlock('styles').add(['/styles/style.css']).toHTML()
  body
    div.navigation
        h1 Pechtold
          div Gesellschaft von Architekten mbH
        ul
            each page in getCollection('pages').toJSON()
                li(class=[page.id == document.id ? 'active' : 'inactive'])
                    a(href=page.url)= page.title ? page.title : page.name
        address
          != partial('address')
    
    div.content
      !=content
      
    != getBlock('scripts').toHTML()