mixin menu(menuItems)
    ul.nav
        each item in menuItems
            li(class=[item.state == 'current' ? 'current' : null, item.children ? 'hasChildren' : null])
                a(href=item.url)= item.title
                if item.children
                    +menu(item.children)

html
  head
    title= getPreparedTitle()
    != getBlock('meta').toHTML()
    != getBlock('styles').add(['/styles/style.css']).toHTML()
  body
    div.navigation
        h1 Pechtold
          div Gesellschaft von Architekten mbH
        nav
            +menu(generateMenu(document.url, 'pages'))
        address
          != partial('address')
    
    div.content
      !=content
      
    != getBlock('scripts').toHTML()