h1= document.title

if getDocument().getAssociatedFiles().toJSON().length
    div.images
      each file in getDocument().getAssociatedFiles().toJSON()
        span
            img(src=file.url)

!= content